<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>매일 메일 어드민</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="/js/scripts.js"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="index.html">매일메일 어드민</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        면접 질문 관리
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">면접 질문 관리</h1>
                <div class="d-flex justify-content-end mb-2">
                    <button class="btn btn-primary" id="createQuestionBtn">질문 생성</button>
                </div>
                <div id="questionForm" class="hidden mb-4">
                    <h3 id="questionFormTitle">질문 생성</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <form id="form">
                                <div class="mb-3">
                                    <label for="questionTitle" class="form-label">질문 제목</label>
                                    <input type="text" class="form-control" id="questionTitle" required>
                                </div>
                                <div class="mb-3">
                                    <label for="questionDetail" class="form-label">답변</label>
                                    <textarea class="form-control" id="questionDetail" rows="5" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="questionCategory" class="form-label">카테고리</label>
                                    <select class="form-select" id="questionCategory" required>
                                        <option value="" disabled selected>카테고리를 선택하세요.</option>
                                        <option value="프론트엔드">프론트엔드</option>
                                        <option value="백엔드">백엔드</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success mb-4">저장</button>
                                <button type="button" class="btn btn-secondary mb-4" id="cancelBtn">취소</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            미리보기
                            <div class="preview" id="markdownPreview">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        면접 질문 데이터
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>질문 제목</th>
                                <th>질문 상세</th>
                                <th>카테고리</th>
                                <th>작업</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>질문 제목</th>
                                <th>상세 페이지</th>
                                <th>카테고리</th>
                                <th>작업</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="question:${questions}">
                                <td th:text="${question.id}"></td>
                                <td th:text="${question.title}"></td>
                                <td><a target="_blank"
                                       th:href="@{https://www.maeil-mail.kr/question/{id}(id = ${question.id})}">질문
                                    보러가기</a></td>
                                <td th:text="${question.category}"></td>
                                <td>
                                    <button class="btn btn-warning btn-sm edit-btn">수정</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
