<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>매일 메일</title>
</head>
<body style="margin: 0; padding: 0">
<div
        style="
        height: 100%;
        width: 100%;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      "
>
    <div
            style="
          background-color: #ffffff;
          padding: 40px;
          border-radius: 8px;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          text-align: center;
          max-width: 400px;
          width: 100%;
        "
    >
        <h2>안녕하세요. 매일메일입니다. 😀</h2>
        <p>
            🎉 신규 구독을 환영합니다. 🎉 <br>
            돌아오는 오전 7시부터 매일 면접 질문을 보내드릴게요. <br>
            감사합니다. <br>
        </p>

    </div>
</div>
</body>
</html>
